@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*::before, *::after{
    padding: 0;
    margin: 0;
}

:root{
    --whitetype: #ff7480;
    --blacktype: #9f6ea3;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0, 0, 0, 0.364);
}

body {
	background-color: rgb(20, 20, 20);
	color: white;
}

.player {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(218, 15, 18), rgb(203, 203, 216));
}

.wrapper{
    width: 600px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(45deg, steelblue, mediumaquamarine);
	border: 2px solid skyblue;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.wrapper i{
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main #logo {
    font-size: 20px;
}

.main #logo i {
    margin-right: 10px;
}

.progress-area .song-timer, .controls, .music-list .header, .music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.song-details {
	padding: 1em;
	margin: 1em;
	border: 2px solid skyblue;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	background: linear-gradient(217deg, rgba(75, 168, 128, 0.8), rgba(255,0,0,0) 70.71%),
				linear-gradient(127deg, rgba(39, 73, 104, 0.8), rgba(0,255,0,0) 70.71%),
				linear-gradient(336deg, rgba(28, 66, 215, 0.8), rgba(0,0,255,0) 70.71%);
}

.name {
    color: #e4ffff;
    font-size: 20px;
	text-shadow: 0px 0px 2px black;
}

.artist {
    color: #b0ffff;
    font-size: 16px;
	text-shadow: 0px 0px 2px black;
}

.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}

.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, darkcyan 0%, teal 100%);
}

.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}

.progress-area .song-timer{
    margin-top: 2px;

}
.song-timer span{
    font-size: 13px;
}

.volume{
    margin: 30px 0 15px 0;
    /* position: absolute; */
    display: flex;
    justify-content: center; 
    align-items: center;
}

.volume p {
    font-size: 15px;
}

.volume i {
    cursor: pointer;
    padding: 8px 12px;
}

.volume i:hover {
    background: rgba(109, 109, 109, 0.1);
}

.volume #volume_show {
	display: flex;
	width: 32px;
	height: 32px;
	align-items: center;
  	justify-content: center;
}

.volume input {
    -webkit-appearance: none;
    width: 60%;
    outline: none;
    border: none;
    height: 3px;
    margin: 0 5px;
    background: teal;
} 

input[type="range"]::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: #31369f;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #f7f7f7;
    border: 3px solid rgb(156, 153, 153);
    border-radius: 50%;
    cursor: pointer;
}

.controls{
    margin: 10px 0 5px 0;
}

.controls i{
    font-size: 28px;
    user-select: none;
    background: white;  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2), .controls i:nth-child(4){
    font-size: 43px;
}

.controls #prev{
    margin-right: -13px;
}

.controls #next{
    margin-left: -13px;
}

.controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 5px white;
}

.play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(steelblue 0%, mediumaquamarine 100%);
}

.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.music-list{
    position: absolute;
    background-color: teal;
    width: 100%;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    /* z-index: 5; */
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
}

.music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.header .row i{
    cursor: default;
}

.header .row span{
    margin-left: 5px;
}

.header #close{
    font-size: 22px;
}

.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}

.music-list ul::-webkit-scrollbar{
    width: 0px;
}

.music-list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
}

.music-list ul li:last-child{
    border-bottom: 0px;
}

.music-list ul li .row span{
    font-size: 17px;
}

.music-list ul li .row p{
    opacity: 0.9;
}

ul li .audio-duration{
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

.customButtonStyle {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}