@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*::before, *::after {
    padding: 0;
    margin: 0;
}

:root {
  --primarycolor: lightgrey;
  --secondarycolor: rgb(50, 50, 50);
}

body {
	background-color: rgb(20, 20, 20);
}

.wrapper {
    width: 350px;
    height: 350px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    background: lightgrey;
	color: black;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.wrapper i {
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main #logo {
    font-size: 20px;
}

.main #logo i {
    margin-right: 10px;
}

.progress-area .song-timer, .controls, .music-list .header, .music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song-details {
	padding: 1em;
	margin: 1em 0em;
	border: 2px solid var(--secondarycolor);
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.name {
    color: var(--secondarycolor);
    font-size: 20px;
}

.artist {
    color: #b0ffff;
    font-size: 16px;
	text-shadow: 0px 0px 2px var(--secondarycolor);
}

.progress-area {
    height: 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    background: rgb(181,181,181);
    background: linear-gradient(0deg, rgba(181,181,181,1) 0%, rgba(240,240,240,1) 10%, rgba(240,240,240,1) 20%, rgba(231,231,231,1) 30%, rgba(233,233,233,1) 45%, rgba(243,243,243,1) 55%, rgba(242,242,242,1) 90%, rgba(222,222,222,1) 100%);
}

.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: 4px;
    background: rgb(50,130,160);
    background: linear-gradient(0deg, rgba(50,130,160,1) 0%, rgba(90,200,250,1) 10%, rgba(50,120,185,1) 50%, rgba(120,180,240,1) 55%, rgba(120,180,240,1) 90%, rgba(90,150,220,1) 95%);
}

.progress-area .song-timer { margin-top: 2px; }
.song-timer span { font-size: 13px; }

.volume {
    margin: 30px 0 15px 0;
    /* position: absolute; */
    display: flex;
    justify-content: center; 
    align-items: center;
}

.volume p {
    font-size: 15px;
}

.volume i {
    cursor: pointer;
    padding: 8px 12px;
}

.volume i:hover {
    background: rgba(109, 109, 109, 0.1);
}

.volume #volume_show {
	display: flex;
	width: 32px;
	height: 32px;
	align-items: center;
  	justify-content: center;
}

.volume input {
    -webkit-appearance: none;
    width: 60%;
    outline: none;
    border: none;
    height: 3px;
    margin: 0 5px;
    background: var(--secondarycolor);
} 

.controls i{
    font-size: 28px;
    user-select: none;
    background: var(--secondarycolor);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2), .controls i:nth-child(4) { font-size: 43px; }
.controls #prev { margin-right: -13px; }
.controls #next { margin-left: -13px; }

.controls .play-pause {
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--secondarycolor);
}

.play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: var(--primarycolor);
}

.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.music-list{
    position: absolute;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    width: 100%;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    padding: 15px 30px;
    border-radius: 15px;
    transition: all 0.15s ease-out;
}

.music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
}

.header .row i{
    cursor: default;
}

.header .row span{
    margin-left: 5px;
}

.header #close{
    font-size: 22px;
}

.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}

.music-list ul::-webkit-scrollbar{
    width: 0px;
}

.music-list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
}

.music-list ul li:last-child{
    border-bottom: 0px;
}

.music-list ul li .row span{
    font-size: 17px;
}

.music-list ul li .row p{
    opacity: 0.9;
}

ul li .audio-duration{
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

.customButtonStyle {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}